<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ratel.shop.mall.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ratel.shop.mall.entity.User">
    </resultMap>
    <sql id="Base_Column_List">
        user_id, nick_name, login_name, password_md5, introduce_sign, address, is_deleted,
        locked_flag, create_time
     </sql>

    <select id="queryUserByLoginNameAndPassword" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_ratel_user
        WHERE login_name = #{loginName} AND password_md5 = #{password} AND is_deleted = 0
    </select>

    <select id="queryUserByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_ratel_user
        WHERE login_name = #{loginName} and is_deleted = 0
    </select>

    <select id="queryUserByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_ratel_user
        WHERE user_id = #{userId} and is_deleted = 0
    </select>

    <update id="updateUserByUserId" parameterType="com.ratel.shop.mall.entity.User">
        UPDATE tb_ratel_user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="loginName != null">
                login_name = #{loginName},
            </if>
            <if test="passwordMd5 != null">
                password_md5 = #{passwordMd5},
            </if>
            <if test="introduceSign != null">
                introduce_sign = #{introduceSign},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="lockedFlag != null">
                locked_flag = #{lockedFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <select id="findMallUserList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_user
        where 1=1
        <if test="loginName!=null and loginName!=''">
            and login_name = #{loginName}
        </if>
        order by create_time desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getTotalMallUsers" parameterType="Map" resultType="int">
        select count(*) from tb_newbee_mall_user
        where 1=1
        <if test="loginName!=null and loginName!=''">
            and login_name = #{loginName}
        </if>
    </select>


    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update tb_newbee_mall_user set is_deleted = 1
    where user_id = #{userId,jdbcType=BIGINT} and is_deleted = 0
  </update>


    <update id="updateByPrimaryKey" parameterType="com.ratel.shop.mall.entity.User">
    update tb_newbee_mall_user
    set nick_name = #{nickName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password_md5 = #{passwordMd5,jdbcType=VARCHAR},
      introduce_sign = #{introduceSign,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      locked_flag = #{lockedFlag,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
    <update id="lockUserBatch">
        update tb_newbee_mall_user
        set locked_flag=#{lockStatus} where user_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>